@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header {
  background-color: rgb(0, 110, 255);
  color: white;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 110, 255);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 71, 165);
}
body {
  font-family: 'Roboto', sans-serif;
  background:#90cbf3;
  margin: 0;
}
